body {
  margin: 0;
}

.wrapper {
  background-image: url('img/bg.png');
  background-size: cover;
  background-position: center;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.target {
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  display: block;
}
.target:hover{cursor: pointer;}